<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link rel="stylesheet" href="/style/reset.css"/>
    <link rel="stylesheet" href="/style/Inicio.css"/>
  </head>

  <body>
    <div style="justify-content: center; align-items: center; display: flex; flex-direction: column; height: 100vh;margin-bottom: 20px; color: #1d4ae5; font-size: x-large;">
      <div>
        <h1>GESTION TIENDA</h1>
      </div>

      <div>
        <button style="border-color: black; padding: 15px;"><a th:href="@{/cliente/menuCliente}" style="text-decoration: none; color: black;">Gestionar Clientes</a></button>
        <button style="border-color: black; padding: 15px;"><a th:href="@{/cliente/menuProducto}"style="text-decoration: none; color: black;"> Gestionar Productos </a></button>
        <button style="border-color: black; padding: 15px;"><a th:href="@{/cliente/menuEmpresa}"style="text-decoration: none; color: black;"> Gestionar Empresas </a></button>
        <button style="border-color: black; padding: 15px;"><a th:href="@{/factura/buscarClienteFactura}"style="text-decoration: none; color: black;"> Realizar Compras </a></button>
        <button style="border-color: black; padding: 15px;"><a th:href="@{/cliente/menuFactura}"style="text-decoration: none; color: black;"> Gestionar Facturas </a></button>

     
      </div>
    </div>
  </body>
</html>
